.header{
  --background : #B3E0FF	;
}

ion-back-button {
  display: block;
}

.separator{
  margin-top: 30px;
}
.username{
  max-width: 250px;
}


.user-icon{
  display: block;
  margin: 8px;
  width: 30px;
  height: 30px;
}
.postContent{
  margin-left: 20px;
}

.title{
  font-weight: bold;
}
.addFriend{
  width: 30px;
  height: 30px;
}


.spinner{
  width: 100px;
  height: 100px;
  margin-top:40px;
  margin-left: 80px;
}
.welcome{
  margin-left: 40px;
  max-width: 280px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: rgb(58, 58, 58);
  border: 20px;
  background-color: rgb(75, 117, 255);
}

.trash{
  display: flex;
}



