<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button text="back" routerLink='/postspage' routerLinkActive="router-link-active" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Collaborators List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="separator">
  </div>
  <ion-spinner name="crescent" class="spinner" *ngIf="this.isLoading" ></ion-spinner>
  <div *ngIf="!this.isLoading" class="welcome"><h3>&nbsp;&nbsp;PS: only Admin can delete Collaborators</h3></div>

  <div class="single-user" *ngFor="let user of this.users ; let i = index ;">
    <ion-list *ngIf="!this.isLoading && this.user.email != this.admin" >
      <ion-item>
      <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
      <h4 class="username">{{user.email}}</h4>
      <ion-icon name="trash-outline" class="trash"  slot="end" (click)="deleteUser(user.uid)" *ngIf="this.currentUser.email == this.admin"></ion-icon>
    </ion-item>
    </ion-list>
</div>
</ion-content>
