.header{
  --background : #B3E0FF	;
}

ion-back-button {
  display: block;
}

.separator{
  margin-top: 30px;
}
.username{
  max-width: 180px;
}


.user-icon{
  display: block;
  margin: 8px;
  width: 30px;
  height: 30px;
}
.postContent{
  margin-left: 20px;
}

.title{
  font-weight: bold;
}
.addFriend{
  margin-left: 180px;
  width: 30px;
  height: 30px;
}


